<li>
    {{burger_name}}

    <button class="changeDevour" data-id="{{id}}" data-newDevour="{{devoured}}">
        {{#if devoured}}DEVOUR!{{else}}LEFTOVERS!{{/if}}
    </button>

    <button class="deleteBurger" data-id="{{this.id}}">DELETE!</button>
</li>